.expItem {
    display: flex;
}

.expItem__bullet-list {
    width: 100%;
    padding: 3rem;
    flex: 1;
    background-color: #EEEEEE22;
}

.expItem__image {
    width: 100%;
    padding: 3rem;
    flex: 1;
}