.resume__top-section {
    display: flex;
    margin: 1rem 0;
}

.resume__intro-summary {
    flex: 2;
    padding: 3rem 1rem;
    text-align: left;
    border-right: 1px solid #CCC;
}

.resume__tech {
    flex: 1;
    font-size: .85rem;
}

.resume__experience-list {
    margin: auto;
}

@media (max-width: 768px) {
    .resume__top-section {
        flex-direction: column;
        margin: 0 1rem;
    }

    .resume__intro-summary {
        border-right: none;
        border-bottom: 1px solid #CCC;
        padding: 2rem 1rem;
    }

    .resume__tech {
        padding: 1rem 0;
    }
}