.design-widget {
    display: inline-block;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    background-color: #FFF;
    border-radius: 2px;
}
